<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <%console.log(pokemon)%>
    <form action="/pokemon/<%= console.log(pokemon) %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= pokemon.name %>"><br>
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" value="<%= pokemon.img %>"><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="<%= pokemon.type.join(', ') %>"><br>
        <input type="submit" value="Update">
      </form>
</body>
</html>